<ng-template vsfDialogTitle>
    <span class="titleNewAdress">
        {{ title | translate }}
    </span>
</ng-template>
<vsf-address-form #addressFormComponent
    [address]="address"
    [classToNewAdress]="true"
    [availableCountries]="availableCountries$ | async"></vsf-address-form>
<ng-template vsfDialogButtons>
    <div class="flex justify-center mt-8">
        <button type="button"
            class="btn btn-primary py-2"
            [disabled]="addressFormComponent.addressForm.invalid"
            (click)="save(addressFormComponent.addressForm.value)">{{ 'Create new adress' | translate }}</button>
    </div>
</ng-template>
