<form class="border bg-white rounded p-4 max-w-sm" #paymentForm="ngForm">
    <div class="flex items-center space-x-2">
        <div class="w-16 text-gray-600">
            <fa-icon icon="credit-card"></fa-icon>
        </div>
        <div
            class="block flex-1 card-border p-2 m-2 shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
            #cardInfo
        ></div>
    </div>
    <hr>
    <div class="flex items-center space-x-2">
        <div class="block flex-3 justify-end">
            <label class="text-gray-600">Expiry</label>
        </div>
        <div
            class="block flex-1 card-border p-2 m-2"
            #exp
        ></div>
        <div class="block flex-3">
            <label class="text-gray-600">cvc</label>
        </div>
        <div
            class="block flex-1 card-border p-2 m-2"
            #cvc
        ></div>
    </div>

    <button (click)="handleSubmit($event)"
        [disabled]="!cardNumberComplete || !cardExpiryComplete || !cardCvcComplete"
        class="btn-primary w-full mt-6"
    >
        <i class="w-5 h-5"></i>
        <span>Pay with Stripe</span>
    </button>
</form>
