// define a variable named $light
 $light: #55AAFF;
 $semi-light: #3388BB;
 $spacer: 1rem;
 $font-size-sm: 0.875rem;
 $gray-200: #dee2e6;
 $border-radius: 0.25rem;
 // $gray-200: #dee2e6;
 // $border-radius: 0.25rem;
 // $light: #006699;
 // $spacer: 1rem;
 // $font-size-sm: 0.875rem;
