<div class="border rounded bg-white p-4 text-sm">
    <h6 class="text-2xl text-blue-600 pb-4" *ngIf="title">{{ title | translate }}</h6>
    <ul class="">
        <li>{{ address.fullName }}</li>
        <li>{{ address.streetLine1 }}</li>
        <li>{{ address.city }}</li>
         <!-- Next line is needed for shipping address -->
        <li>{{ title !== 'My Addresses' ? address.province : '' }}</li>
        <li>{{ provinceName }}</li>
        <li>{{ address.postalCode }}</li>
        <li>{{ getCountryName() }}</li>
    </ul>
    <ng-content></ng-content>
</div>
