<div class="card" *ngIf="(signedIn$ | async) && (customerAddresses$ | async)?.length">
    <div class="card-header">
        <!-- <button class="btn btn-light bg-[#0088CC] hover:bg-[#006699] text-white py-2 px-4 rounded-lg" (click)="step = 'selectAddress'"> -->
        <!--     {{ 'Select Shipping Address' | translate }} -->
        <!-- </button> -->
        <h2 class="text-lg font-medium text-gray-900">
            {{ 'Shipping Address' | translate }}
        </h2>
    </div>
    <!-- <div class="" [ngClass]="step === 'selectAddress' ? 'block' : 'hidden'"> -->
    <div class="" [ngClass]="block">
        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <div
                [ngClass]="{
                'border-gray-300': selectedAddressIndex !== i,
                'border-transparent': selectedAddressIndex === i,
                'ring-2 ring-primary-500': selectedAddressIndex === i
                }"
                class="customer-address relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none  hover:bg-[#EEEEEE] hover:border-[#006699]"

                *ngFor="let address of customerAddresses$ | async; let i = index"
                (click)="setShippingAddress(address); setSelectedAddress(i)">

                <div class="address-line" *ngFor="let line of getLines(address)">
                    {{ line }}
                </div>
                <svg
                    [class.hidden]="selectedAddressIndex !== i"
                    [attr.aria-hidden]="selectedAddressIndex !== i"
                    class="h-5 w-5 text-primary-600 ml-auto"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                    />
                </svg>
            </div>
            <div class="d-flex align-items-end ml-3 mb-3">
                <button class="btn btn-light bg-[#CC8800] hover:bg-[#996600] text-white py-2 px-4 rounded-lg" (click)="createAddress()">{{ 'Add new address' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<div class="" *ngIf="!(signedIn$ | async)">
    <h2 class="text-lg font-medium text-gray-900">
        {{ 'Contact information' | translate }}
    </h2>
    <form [formGroup]="contactForm" (focusout)="onCustomerFormBlur()">
        <div class="mt-4">
            <label
                htmlFor="emailAddress"
                class="block text-sm font-medium text-gray-700"
            >
                {{ 'Email address' | translate }}
            </label>
            <div class="mt-1">
                <input
                    type="email"
                    id="emailAddress"
                    name="emailAddress"
                    autoComplete="email"
                    formControlName="emailAddress"
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                />
            </div>
        </div>
        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <div>
                <label
                    htmlFor="firstName"
                    class="block text-sm font-medium text-gray-700"
                >
                    {{ 'First name' | translate }}
                </label>
                <div class="mt-1">
                    <input
                        type="text"
                        id="firstName"
                        name="firstName"
                        autoComplete="given-name"
                        formControlName="firstName"
                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    />
                </div>
            </div>

            <div>
                <label
                    htmlFor="lastName"
                    class="block text-sm font-medium text-gray-700"
                >
                    {{ 'Last name' | translate }}
                </label>
                <div class="mt-1">
                    <input
                        type="text"
                        id="lastName"
                        name="lastName"
                        autoComplete="family-name"
                        formControlName="lastName"
                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    />
                </div>
            </div>
        </div>
    </form>
</div>

<!-- <div class="mt-10 border-t border-gray-200 pt-10"> -->
<!--     <h2 class="text-lg font-medium text-gray-900"> -->
<!--         {{ 'Shipping Address' | translate }} -->
<!--     </h2> -->
<!--     <div class="card-body"> -->
<!--         <vsf-address-form #addressForm -->
<!--             (focusout)="onAddressFormBlur(addressForm.addressForm)" -->
<!--             [address]="customerAddress$ | async" -->
<!--             [availableCountries]="availableCountries$ | async" -->
<!--             [countryId]="countryId" -->
<!--         > -->
<!---->
<!--         </vsf-address-form> -->
<!--     </div> -->
<!-- </div> -->
<div class="mt-10 border-t border-gray-200 pt-10">
    <h2 class="text-lg font-medium text-gray-900">
        {{ 'Shipping Method' | translate }}
    </h2>
    <vsf-radio-card-fieldset
        [idFn]="getId"
        [selectedItemId]="shippingMethodId"
        (selectItem)="setShippingMethod($event.id)"
    >
        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <vsf-radio-card *ngFor="let method of eligibleShippingMethods$ | async" [item]="method">
                <span class="block text-sm font-medium text-gray-900">
                    {{ method.name }}
                </span>
                <span class="mt-6 text-sm font-medium text-gray-900">
                    {{ method.priceWithTax | formatPrice }}
                </span>
            </vsf-radio-card>
        </div>
    </vsf-radio-card-fieldset>
</div>
<!-- to access to form by @ViewChild() we must use addressForm.addressForm -->
<button class="btn-primary mt-6 w-full space-x-2"
    [disabled]="!shippingMethodId || selectedAddressIndex < 0"
    (click)="proceedToPayment()">
    <fa-icon icon="credit-card"></fa-icon>
    <span>{{ 'Proceed to payment' | translate }}</span>
</button>
<!-- [disabled]="!shippingMethodId || addressForm.addressForm.invalid" -->
