<form [formGroup]="addressForm">
    <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
        <div>
            <label
                htmlFor="fullName"
                class="block text-sm font-medium text-gray-700"
            >
                Full name
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    id="fullName"
                    name="fullName"
                    formControlName="fullName"
                    autoComplete="given-name"
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                />
            </div>
            <div *ngIf="addressForm.get('fullName')?.hasError('required') && addressForm.get('fullName')?.touched"
                class="text-purple-600">Full Name is required
            </div>
        </div>

        <!-- <div class="sm:col-span-2"> -->
        <!--     <label -->
        <!--         htmlFor="company" -->
        <!--         class="block text-sm font-medium text-gray-700" -->
        <!--     > -->
        <!--         Company -->
        <!--     </label> -->
        <!--     <div class="mt-1"> -->
        <!--         <input -->
        <!--             type="text" -->
        <!--             name="company" -->
        <!--             id="company" -->
        <!--             formControlName="company" -->
        <!--             class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 -->
        <!--     sm:text-sm" -->
        <!--         /> -->
        <!--     </div> -->
        <!-- </div> -->

        <div class="sm:col-span-2">
            <label
                htmlFor="streetLine1"
                class="block text-sm font-medium text-gray-700"
            >
                Address
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="streetLine1"
                    id="streetLine1"
                    formControlName="streetLine1"
                    autoComplete="street-address"
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
            <div *ngIf="addressForm.get('streetLine1')?.hasError('required') && addressForm.get('streetLine1')?.touched"
                class="text-purple-600">Address is required
            </div>
        </div>

        <!-- <div class="sm:col-span-2"> -->
        <!--     <label -->
        <!--         htmlFor="streetLine2" -->
        <!--         class="block text-sm font-medium text-gray-700" -->
        <!--     > -->
        <!--         Apartment, suite, etc. -->
        <!--     </label> -->
        <!--     <div class="mt-1"> -->
        <!--         <input -->
        <!--             type="text" -->
        <!--             name="streetLine2" -->
        <!--             id="streetLine2" -->
        <!--             formControlName="streetLine2" -->
        <!--             class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 -->
        <!--     sm:text-sm" -->
        <!--         /> -->
        <!--     </div> -->
        <!-- </div> -->

        <div>
            <label
                htmlFor="city"
                class="block text-sm font-medium text-gray-700"
            >
                City
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="city"
                    id="city"
                    autoComplete="address-level2"
                    formControlName="city"
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
            <div *ngIf="addressForm.get('city')?.hasError('required') && addressForm.get('city')?.touched"
                class="text-purple-600">City is required
            </div>
        </div>

        <div>
            <label
                htmlFor="countryCode"
                class="block text-sm font-medium text-gray-700"
            >
                Country
            </label>
            <div class="mt-1">
                <select
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    formControlName="countryCode" id="countryCode">
                    <option *ngFor="let country of availableCountries" [ngValue]="country.code">
                        {{ country.name }}
                    </option>
                </select>
            </div>
            <div *ngIf="addressForm.get('countryCode')?.hasError('required') && addressForm.get('countryCode')?.touched"
                class="text-purple-600">Country is required
            </div>
        </div>

        <div>
            <label
                htmlFor="province"
                class="block text-sm font-medium text-gray-700"
            >
                Province
            </label>
            <div class="mt-1">
                <select
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    formControlName="province" id="province">
                    <option *ngFor="let province of availableProvinces" [ngValue]="province.code">
                        {{ province.name }}
                    </option>
                </select>
            </div>
        </div>

        <!-- <div> -->
        <!--     <label -->
        <!--         htmlFor="province" -->
        <!--         class="block text-sm font-medium text-gray-700" -->
        <!--     > -->
        <!--         State / Province -->
        <!--     </label> -->
        <!--     <div class="mt-1"> -->
        <!--         <input -->
        <!--             type="text" -->
        <!--             name="province" -->
        <!--             id="province" -->
        <!--             formControlName="province" -->
        <!--             autoComplete="address-level1" -->
        <!--             class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 -->
        <!--     sm:text-sm" -->
        <!--         /> -->
        <!--     </div> -->
        <!-- </div> -->

        <div>
            <label
                htmlFor="postalCode"
                class="block text-sm font-medium text-gray-700"
            >
                Postal code
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="postalCode"
                    id="postalCode"
                    formControlName="postalCode"
                    autoComplete="postal-code"
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
            <div *ngIf="addressForm.get('postalCode')?.hasError('required') && addressForm.get('postalCode')?.touched"
                class="text-purple-600">Postal code is required
            </div>
        </div>

        <div class="sm:col-span-2">
            <label
                htmlFor="phoneNumber"
                class="block text-sm font-medium text-gray-700"
            >
                Phone
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="phoneNumber"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    autoComplete="tel"
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>
    </div>
</form>
